* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;;
}

#calculator-container {
  height: 715px;
  width: 500px;
  background-color: #AAAAAA;
  padding: 1em;
}

.calculator-display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  height: 9em;
  margin-bottom: 1.5em;
  padding-right: 1.2em;
  background-color: #f8f9fa;
}

.calculator-display #current-operation {
  font-size: 2em;
}

.calculator-display #display-value {
  font-size: 3.5em;
}

.clear-delete-buttons {
  display: flex;
}

.clear, .delete {
  flex: 1;
  height: 2.5em;
}

button {
  font-size: 2em;
}

.numbers-and-operators {
  display: flex;
  flex-wrap: wrap;
}

.numbers-and-operators button {
  flex: 1 1 20%;
  height: 3em;
}

.numbers-and-operators, .clear-delete-buttons {
  margin-top: 0.8em;
  gap: 0.8em;
}

#calculator-container, 
.numbers-and-operators button, 
.clear-delete-buttons button,
.calculator-display {
  border: 2px solid #212529;
  border-radius: 1rem;
}

button.clear {
  background-color: #4a95c3;
}

button.delete {
  background-color: #f8888c;
}

.division, 
.multiplication, 
.subtraction, 
.addition {
  background-color: #adb5bd;
}

button:hover {
  background-color: #6c757d;
}